easyocr
google-genai
imageio
langchain_chroma
langchain_community
langchain_openai
matplotlib
numpy
opencv-python
openai
paddleocr
paddlepaddle
pandas
Pillow
pyautogui
python-dotenv
requests
scikit-image
scipy
supervision
tabulate
tensorflow
termcolor
torch
torchvision
transformers
ultralytics
