google-genai
imageio
langchain_chroma
langchain_community
langchain_openai
matplotlib
numpy
opencv-python
openai
paddleocr
paddlepaddle
openpyxl
pandas
Pillow
pyautogui
python-dotenv
scikit-image
scipy
supervision
tabulate
tensorflow
termcolor
torch
torchvision
transformers
ultralytics
