{
  "env_name": "Vectorworks 2025",
  "sub_path": "vectorworks",
  "env_short_name": "vectorworks",
  "env_path": "C:/Program Files/Vectorworks 2025/Vectorworks2025.exe",
  "task_description_list": [
    {
      "id": 1,
      "task_description": "The building has 1 floor based on the provided layout.",
      "sub_task_description_list": []
    }
  ],
  "floorplan_image_path": {
    "floorplan": "mini_building_benchmark/scaled_images/1floor/cubicasa1.png"
  },
  "models_path": {
    "deep_floorplan": "<path>/deep_floorplan/pretrained",
    "omini": "<path>/omni/weights/icon_detect/model.pt",
    "Florence2": "<path>/omni/weights/icon_caption_florence"
  },
  "panel_coordinates": {
    "design_panel": [
      471,
      250,
      979,
      974
    ],
    "tool_panel": [
      0,
      215,
      250,
      350
    ],
    "object_info": [
      1600,
      187,
      1920,
      1080
    ],
    "whole_panel": [
      0,
      0,
      1920,
      1080
    ]
  }
}